.body{
  background-color:#f5f5f5;
  
}
.title{
    color:#36889ec0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    font-size: 30px;
    

}
.contacts{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#9dc3e2;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}
h3{
    color:#36889ec0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#9dc3e2;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.center-heading {
    color:#36889ec0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.list{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#9dc3e2;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
#ol-list{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#9dc3e2;
    text-align: center;
}
.right {
  text-align: right;
  margin-right: 400px;
}
.gallery {
  float: center;

  }
@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar a {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
}
